body {
    font-family: Arial, sans-serif;
}

.calculator {
    width: 250px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10%;
    padding: 10px;
    background-color: black;
}

.display {
    width: 95%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px  5px 5px 5px;
    font-size: 18px;
    text-align: right;
    border-radius: 10%;
    background-color: rgb(171, 241, 218);
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: white;
    background: url('../img/btn.PNG') no-repeat center center;
    background-size: cover;
    border-radius: 10%;

}
#c{
    grid-column: span 2;
    background: none;
    
    background-color: red;
    border-radius: 20%;
}
#pls{
    grid-row: span 2;
}
#eql{
    background: none;
    background-color: rgb(23, 144, 243);
}

button:hover {
    background-color: #ddd;
}
